{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignore": [
                "Zalas\\PHPUnit\\Doubles\\TestCase\\PHPUnitTestDoubles::initialisePHPUnitTestDoubles",
                "Zalas\\PHPUnit\\Doubles\\TestCase\\ProphecyTestDoubles::initialiseProphecyTestDoubles"
            ]
        },
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    }
}
